.info ul {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.info p {
    margin: revert;
}

.info strong {
    @apply text-primary;
}

.info table {
    @apply border-1 border-primary-50;
    border-collapse: separate;
    border-spacing: 0;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

.info table th {
    @apply border-1 border-primary-50;
    padding: 8px 5px;
}

.info table td {
    @apply border-1 border-primary-50;
    padding: 8px 5px;
    vertical-align: middle;
}

.info table.main table {
    width: 100%;
    border: none;
    margin: 0;
}

.info table.main table td {
    border: none;
    padding: 0px 3px;
    text-align: left;
}

.info table td div {
    @apply text-primary;
    font-style: italic;
}

.info table span {
    font-style: normal;
}

.info table td.current {
    @apply bg-primary-50;
}

.info table .ru {
    @apply text-primary-100;
}

.info table ru {
    @apply text-primary-100;
}

.info table .rus {
    @apply text-primary-100;
}

.info table rus {
    @apply text-primary-100;
}

.info table red {
    @apply text-danger;
}

.info table .red {
    @apply text-danger;
}

.info table timeline {
    line-height: 90%;
}

.info table .timeline {
    line-height: 90%;
}

.info table extra {
    @apply text-primary-100;
}

.info table extra2 {
    @apply text-primary-100;
}

.info table suffix {
    @apply text-danger;
}